* {
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
header{
    font-size: 12px !important;
    width: 100%;
    background-color: #EAC926;
}
.Headersuperior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}
.Logotipoconteiner {
    width: 50%;
}

.Logotipo{
    width: 100%;
    height: auto;
    display: inline;
}
img.Logotipo{
    width: 100%;
}
.search{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input[type="text"]{
    width: 80%;
    margin-top: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search button{
    width: 20%;
    padding: 5px;
    background-color: #03264C;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.Comprá{
    font-size: 12px;
    margin: 5%;
    text-align: center;
}
.tablaoculta{
    font-size: 12px !important;
    display: none;
    text-align: start;
    padding: 0px;
    list-style-type: none;
}
.burgerbutton{
    box-sizing: content-box;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    background-color: #03264C;
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 1px 1px 5px 5px;
}
main{
    margin: auto;
    width: 90%;
    background-color: #ebebeb;
}
.Banner{
    display: none;
    width: 100%;
}
h2{
    text-align: center;
    font-size: 24px;
}
.ultimascompras,.Ofertas{
    text-align: center;
    margin: auto;
}
.imgarticle{
    width: 100%;
    height: 200px;
}
.Datodelproducto{
    height: auto;
}
.particle{
    display: inline;
    margin: 0px;
    font-size: 18px;
}
.particle2{
    display: inline;
    margin: 0px;
    font-size: 16px;
    color: #39b54a;
}
.Descripcion{
    margin-bottom: 0px;
}
article{
    text-align: start;
    padding: 15px;
    width: 90%;
    box-sizing: border-box;
    background-color: white ;
    margin: 5px 0px 5px 5.2%;
}
.Icontruck{
    text-align: end;
}
.circl{
    margin-right: 20px;
    margin-bottom: 15px;
    color: #39b54a;
    font-size: 30px;
}
.truck{
    position: relative;
    left: 29px;
    bottom: 5px;
    color: #39b54a;
}
@media screen and (min-width: 768px){
    main{
        width: 100%;
    }
    .Banner{
        display: inline;
    }
    .nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    nav{
        text-align: center;
        align-content: end;
    }
    .Navli{
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
        align-items: end;
    }
    .Navli2{
        width: 100%;
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .Comprá{
        align-self: center;
    }
    .Formatomedia{
        display: flex;
    }
    .Comprá{
        width: 40%;
        box-sizing: border-box;
        padding: 0px;
        margin: 30px 40px 0px 0px;
    }
    .ultimascompras,.Ofertas{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burgerbutton{
        display: none;
    }
    .tablaoculta{
        display: block;
    }
    .Vacio{
    display: none;
    }
}
@media screen and (min-width: 1024px){
    .nav{
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        align-content: end;
        text-align: center;
    }

    .Navli{
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
        align-items: end;
    }
    .Vacio{
    display: inline;
    }
    .Navli2{
        width: 100%;
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: end;
    }
    .Formatomedia{
        display: flex;
    }
    .ultimascompras,.Ofertas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .burgerbutton{
        display: none;
    }
    .tablaoculta{
        display: block;
    }
}
.footersection{
    text-align: center;
}
.iconfooter{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.pfooter{
    font-size: 12px;
    margin: 0px 5px 30px 5px;
}
h3{
    margin: 0px;
}
.Copyright{
    text-align: start;
    font-size: 8px;
}